In [5]:
# Andre Luiz Rosario de Azevedo
# Capacitacao Competicao
# Comparando dados de meio ambiente e economia para escolher um tema (ou os dois)

In [1]:
import pandas as pd

In [10]:
# Dados sobre emissao de gases do efeito estufa no brasil
# Dado retirado do link https://basedosdados.org/dataset/br-seeg-emissoes
df_brasil_estufa = pd.read_csv('./arquivos_csv/brasil_efeitoestufa.csv')

In [4]:
df_brasil_estufa.head()

,ano,nivel_1,nivel_2,nivel_3,nivel_4,nivel_5,nivel_6,tipo_emissao,gas,atividade_economica,produto,emissao
0,1970,Agropecuária,Cultivo do Arroz,Diretas,Outros,Vegetal,Arroz,Emissão,CH4 (t),NaN,NaN,230462.17
1,1971,Agropecuária,Cultivo do Arroz,Diretas,Outros,Vegetal,Arroz,Emissão,CH4 (t),NaN,NaN,226016.30
2,1972,Agropecuária,Cultivo do Arroz,Diretas,Outros,Vegetal,Arroz,Emissão,CH4 (t),NaN,NaN,220101.20
3,1973,Agropecuária,Cultivo do Arroz,Diretas,Outros,Vegetal,Arroz,Emissão,CH4 (t),NaN,NaN,214195.56
4,1974,Agropecuária,Cultivo do Arroz,Diretas,Outros,Vegetal,Arroz,Emissão,CH4 (t),NaN,NaN,186862.84

In [6]:
df_brasil_estufa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 454850 entries, 0 to 454849
Data columns (total 12 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ano                  454850 non-null  int64
 1   nivel_1              454850 non-null  object
 2   nivel_2              454850 non-null  object
 3   nivel_3              454850 non-null  object
 4   nivel_4              454850 non-null  object
 5   nivel_5              454850 non-null  object
 6   nivel_6              454850 non-null  object
 7   tipo_emissao         454850 non-null  object
 8   gas                  454850 non-null  object
 9   atividade_economica  453100 non-null  object
 10  produto              268100 non-null  object
 11  emissao              406325 non-null  float64
dtypes: float64(1), int64(1), object(10)
memory usage: 41.6+ MB

In [9]:
df_brasil_estufa.describe()

                 ano       emissao
count  454850.000000  4.063250e+05
mean     1994.500000  1.437622e+06
std        14.430886  3.124689e+07
min      1970.000000 -3.107000e+08
25%      1982.000000  0.000000e+00
50%      1994.500000  4.689636e+00
75%      2007.000000  4.525840e+04
max      2019.000000  2.083000e+09

In [14]:
df_uf_estufa = pd.read_csv('./arquivos_csv/uf_efeitoestufa.csv')

In [15]:
df_uf_estufa.head()

,ano,sigla_uf,nivel_1,nivel_2,nivel_3,nivel_4,nivel_5,nivel_6,tipo_emissao,gas,atividade_economica,produto,emissao
0,1970,AC,Agropecuária,Cultivo do Arroz,Diretas,Outros,Vegetal,Arroz,Emissão,CH4 (t),AGR,ALIM_BEBIDAS,0.00
1,1970,AC,Agropecuária,Cultivo do Arroz,Diretas,Outros,Vegetal,Arroz,Emissão,CO2e (t) GWP-AR5,AGR,ALIM_BEBIDAS,0.00
2,1970,AC,Agropecuária,Fermentação Entérica,Diretas,Outros,Animal,Asinino,Emissão,CH4 (t),PEC,NaN,2.23
3,1970,AC,Agropecuária,Fermentação Entérica,Diretas,Outros,Animal,Asinino,Emissão,CO2e (t) GTP-AR5,PEC,NaN,8.92
4,1970,AC,Agropecuária,Fermentação Entérica,Diretas,Outros,Animal,Asinino,Emissão,CO2e (t) GWP-AR5,PEC,NaN,62.44

In [16]:
df_uf_estufa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3276750 entries, 0 to 3276749
Data columns (total 13 columns):
 #   Column               Dtype
---  ------               -----
 0   ano                  int64
 1   sigla_uf             object
 2   nivel_1              object
 3   nivel_2              object
 4   nivel_3              object
 5   nivel_4              object
 6   nivel_5              object
 7   nivel_6              object
 8   tipo_emissao         object
 9   gas                  object
 10  atividade_economica  object
 11  produto              object
 12  emissao              float64
dtypes: float64(1), int64(1), object(11)
memory usage: 325.0+ MB

In [21]:
df_uf_estufa['sigla_uf'].unique()

array(['AC', 'AL', 'AM', 'AP', 'BA', 'CE', 'DF', 'ES', 'GO', 'MA', 'MG',
       'MS', 'MT', nan, 'PA', 'PB', 'PE', 'PI', 'PR', 'RJ', 'RN', 'RO',
       'RR', 'RS', 'SC', 'SE', 'SP', 'TO'], dtype=object)